*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {font-size: 62.5%;}

body {
  font-size: 1.6rem;
  font-family: Comfortaa, sans-serif;
  line-height: 1.6;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    font-weight: 600;
  }
}

@media screen and (min-width: 1200px) {
  body {

    &::after {
      position: fixed;
      content: "please switch to a mobile device";
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 99;
      backdrop-filter: blur(100px);
    }
  }
}